@model GalaTour.Models.Excursion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Excursion</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Название экскурсии</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Описание экскурсии</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Путь к картинке для экскурсии</label>
                    <select asp-for="ImageURL" class="form-control" asp-items="ViewBag.ImageURL"></select>
                    <input type="file" name="NewImage" />
                </div>
                <div class="form-group">
                    <label class="control-label">Длительность экскурсии в днях</label>
                    <select asp-for="ExDurationID" class="form-control" asp-items="ViewBag.ExDurationID"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Город</label>
                    <select asp-for="ExCityID" class="form-control" asp-items="ViewBag.ExCityID"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Дата отправления</label>
                    <select asp-for="ExDateID" class="form-control" asp-items="ViewBag.ExDateID"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Стоимость</label>
                    <select asp-for="ExPriceID" class="form-control" asp-items="ViewBag.ExPriceID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

