@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewData["Title"] = "Панель Администратора";
}

    <div class="container d-flex w-100 p-3 mx-auto flex-column justify-content-center" style="height: 100vh">
        <div class=" row d-flex flex-row align-items-center">
            <div class="col-margin-bottom col-md-6 col-sm-6">
                <div class="card pop-bus-tours__card" style="background: rgba(0,0,0, .5)">
                    <a asp-action="BusTourList">
                        <div style="display: flex;align-items: center;justify-content: center;padding: 8px;text-align: center;color: #ffffff;font-size: 18px;font-weight: 800;height: 300px; text-decoration: none;">
                            Автобусные туры к морю
                        </div>
                    </a>
</div>
            </div>
            <div class="col-margin-bottom col-md-6 col-sm-6">
                <div class="card pop-bus-tours__card" style="background: rgba(0,0,0, .5)">
                    <a asp-action="ExcursionList">
                        <div style="        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        font-weight: 800;
        height: 300px;
        text-decoration: none;">
                            Экскурсионные туры
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
