
@{
    ViewBag.Description = "Туристическое агентство ГалаТур - информация о компании";
    ViewBag.Keywords = "ГалаТур Орёл - о компании";
    ViewData["Title"] = "О компании";
}
<section class="about-header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="ToursAbroad">Туры за границу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 about-content">
                <p>
                        <span style="color: #ff5722;">Г</span>ала<span style="color: #009688;">Т</span>ур - это Орловское туристическое агентство,
                        где Вы можете легко забронировать экскурсионные туры, туры к морю, туры заграницу, а также арендовать автобус туристического класса.
                </p>
                <p>
                    Сегодня, бронирование тура стало трудоемким процессом. Наша миссия - создание максимально комфортных и прозрачных условий для бронирования и отдыха!
                </p>
            </div>
        </div>
    </div>
</section>