@{
    ViewBag.Description = "Туристическое агентство ГалаТур - контактные данные";
    ViewBag.Keywords = "ГалаТур Орёл - контактные данные";
    ViewBag.Title = "Контакты";
}
    <div class="section-tourist">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="~/">
                    <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="material-icons">
                        menu
                    </i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Поиск тура
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Home" asp-action="TourSearch">Туры по России</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ToursAbroad">Подбор тура</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="contacts">
        
        <div class="container">
            <h1>Контакты</h1>
            <div class="row">
                <div class="col-sm-4">
                    <i class="contacts__icon fas fa-map-marker-alt"></i>
                    <p>Орёл, ул. Комсомольская 88, оф. 6</p>
                </div>
                <div class="col-sm-4">
                    <i class="contacts__icon fas fa-phone"></i>
                    <p>(4862)78-09-58</p>
                </div>
                <div class="col-sm-4">
                    <i class="contacts__icon fas fa-envelope"></i>
                    <p>avtobus-orel.petlaj@yandex.ru</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe class="contacts__map"src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d2403.7918395636752!2d36.061455201140426!3d52.952168473034845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e2!4m0!4m5!1s0x41321a86cec4b30f%3A0x1c365b698c7ea682!2z0JDQstGC0L7QsdGD0YHQvdGL0LUg0J_QsNGB0YHQsNC20LjRgNGB0LrQuNC1INCf0LXRgNC10LLQvtC30LrQuCwg0YPQu9C40YbQsCDQmtC-0LzRgdC-0LzQvtC70YzRgdC60LDRjywg0LTQvtC8IDg4LCDQvtGE0LjRgSDihJY2LCDQntGA0ZHQuywg0J7RgNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDMwMjAwMA!3m2!1d52.95319!2d36.0608!5e0!3m2!1sru!2sru!4v1429130881103"></iframe>
                </div>
            </div>
        </div>
    </section>