@{
    ViewBag.Description = "Туры за границу - Туристическое агентство ГалаТур";
    ViewBag.Keywords = "Туры за границу, туры в Турцию, туры в Доминикану, горящие туры, подбор тура, туры за границу из Орла, туры в Грецию";
    ViewData["Title"] = "Подбор тура";
}

<div class="section-tours-abroad">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Поиск тура
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Home" asp-action="TourSearch">Туры по России</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="ToursAbroad">Подбор тура</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="tours-abroad-main">
                    <p class="tours-abroad__p"><span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our</p>
                    <h2>Доверьте поиск профессионалам</h2>
                    <h3>
                        Расскажите нам, где вы хотите отдохнуть, а мы подберем вам тур!
                    </h3>
                    <div class="tours-abroad__contacts">
                        <a class="btn" href="https://vk.com/gtorel" target="_blank"><i class="tours-abroad__contacts-icon fab fa-vk"></i></a>
                        <a class="btn" href="https://ok.ru/gtorel" target="_blank"><i class="tours-abroad__contacts-icon fab fa-odnoklassniki"></i></a>
                        <button type="button" class="btn btn-tours-abroad btn-tours-abroad__phone" data-container="body" data-toggle="popover" data-placement="top" data-content="(4862)78-09-58">
                            <i class="tours-abroad__contacts-icon fas fas fa-phone"></i>
                        </button>
                        <button type="button" class="btn btn-tours-abroad btn-tours-abroad__email" data-container="body" data-toggle="popover" data-placement="top" data-content="avtobus-orel.petlaj@yandex.ru">
                            <i class="tours-abroad__contacts-icon fas fa-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>