
    <section class="section-tours-abroad">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="~/Home/Index/">
                    <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="material-icons">
                        menu
                    </i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Автобусные туры к морю</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Home/Excursions/">Экскурсии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Home/Tours_abroad/">Туры за границу</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Home/Contacts/">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <div class="tours-abroad-main">
                        <p class="tours-abroad__p"><span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our</p>
                        <h2>Доверьте поиск профессионалам</h2>
                        <h3>
                            Расскажите нам, где вы хотите отдохнуть, а мы подберем вам тур!
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>