<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44376" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44361/GalaTour/,ws://localhost:53119/GalaTour/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxQg36e5/7iEflw1e02w1OgcpGyLy2FKCmaOPz+lcAwaLWjZYkpYtaMvUHazbU/fjBd7uI9mN8wv+6PrSuqs6QezqA41v6jyex6FEA9yz+erlYAMGTWI83yB6evVQ1+j3tyj/dehPnRnhnO8N43Hai9ZYIjkz/yeUE3SK2qnWTh8X/KQHWbqXmzcwfI5bZ23a0h23ecwtU04lfswnhlSU0EdTBF6ZBlhHQcQbnCOPAeJMrOn7X7Ncmnnoct7H4+w30GwGmWGTKPyMshLB8Av6cPVV2xpTG1IlvyKPA2fWEbXVWsM0UCvEK38hmUNC3UWXsMPQ1VSAra4Pl6NHu/8vaQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^bus-orel.ru$" />
          </conditions>
          <action type="Redirect" url="https://www.bus-orel.ru/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <globalization requestEncoding="utf8" responseEncoding="utf8" />
    <compilation tempDirectory="C:\inetpub\vhosts\u0576934.plsk.regruhosting.ru\tmp" defaultLanguage="c#" />
  </system.web>
</configuration>
<!--ProjectGuid: aebf95fd-58eb-46fb-86b2-acad48ca658d-->